doctype html
html(lang="en")
  head
    title ArchieJs Webapp Boilerplate
    script(src='/css/bootstrap.min.css')
  body
    h1 ArchieJS Webapp Boilerplate
    p This is place holder for some future UI.
