doctype html
html(lang="en")
  head
    title ArchieJs Demo
    script(src='/css/bootstrap.min.css')
  body
    h1 ArchieJS Demo
    p This project allows us to concurrently book tickets.
    p This is place holder for some future UI.
